.header{
    background-color: var(--negro);
    padding: calc(var(--separacion) * 3) 0;
    color: var(--blanco);
}

.header img{
    width: 100%;
    height: auto;
}

.texto-header{
    text-align: center;
    padding-top: var(--separacion);
}
.texto-header p{
    margin: 0;
}
.tagline-producto{
    font-size: 3rem;
    font-weight: 900;
}

.nombre-producto{
    font-size: 6rem;
    margin: 0;
}

.precio-producto span{
    font-size: 6rem;
    font-weight: 900;
}
@media (min-width: 768px){
    .contenido-header{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .texto-header{
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
    .nombre-producto{
        font-size: 10rem;
        line-height: 1;
    }
}

