.iconos{
    display: grid;
    justify-content: space-between;
    gap: 2rem;
    padding: var(--separacion);
    text-align: center;
}

.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--separacion) / 2);

}

.icono:last-of-type{
    margin: 0;
}

.icono img{
    width: 5rem;
}

.icono h3 {
    color: var(--primario);
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
}

@media (min-width: 768px){
    .iconos{
        grid-template-columns: repeat(3, 1fr);
    }
}